.OAuth button {
  background: lightgray;
  border: 0.5rem solid white;
  border-radius: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  width: 19rem; height: 7rem;
}


.OAuth button:hover {
  border: 0.5rem solid lightgray;
  border-radius: 0.8rem;
  font-size: 1.8rem;
}


.OAuth button:active {
  background: gray;
  border: 0.5rem solid transparent;
  border-radius: 0.8rem;
}