* {
	box-sizing: border-box;
}


html {
	font-size: 62.5%;
	height: calc(100vh - (100vh - 100%));
	width: calc(100vw - (100vw - 100%));
}


body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}