.logo {
    height: fit-content;
    max-width: 95vw;
    width: 40rem;
  }
  
  
  .googleplay,
  .appstore {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 15rem;
  }
  
  
  h1 {
    box-sizing: border-box;
    color: black;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2.2rem;
    max-width: 99vw;
    margin: 0;
    padding: 2rem;
    text-align: left;
    width: 44rem; height: fit-content;
  }
  
  
  h2 {
    color: black;
    font-size: 2.25rem;
    font-weight: 600;
    margin:0;
    padding: 0;
  }
  
  
  header,
  section {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  
  
  header {
    background: white;
    gap: 1.5rem;
    padding: 3rem 0;
  }
  
  
  section {
    gap: 3rem;
  }
  
  
  title {
    width:calc(100vw - (100vw - 100%)); height: fit-content;
  }
  
  
  ul {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: center;
    list-style: none;
    max-width: 50rem;
    margin: 0;
    padding: 2rem;
  }
  
  
  @media screen and (max-width: 700px) {
    h1 {
      font-size: 1.2rem;
      line-height: 2.2rem;
      width: fit-content;
    }
  
  
    h2 {
      font-size: 2rem;
    }
  }