.TopNav {
  align-items: center;
  background-color: #282c34;
  display: flex;
  flex-flow: row nowrap;
  height: 4rem;
  justify-content: flex-end;
  width: calc(100vw - (100vw - 100%));
}

button {
  margin-right: 0.5rem;
}