.PointForm {
	width: 100vw;
}

.PointFormIllustration {
  padding: 1rem;
  max-width: 90vw;
  width: 40rem;
}

.PointFormComments,
.PointFormSolutions {
  height:5rem;
}

button {
  margin: 1rem;
}

h1,
h2,
label,
p {
  padding-left: 1rem;
}


label {
  align-Points: flex-start;
  display: flex;
  flex-flow: column nowrap;
}

p {
  font-size: 1rem;
}