.Search form {
   border: none;
   padding: 0;
}


.Search input[type=search] {
   -moz-appearance: none;
   -webkit-appearance: none;
   -ms-appearance: none;
   appearance: none;
   background: transparent url("./img/search.webp") no-repeat top left 0.2rem;
   border-radius: 0.8rem;
   display: block;
   height: 3.6rem;
   width: 50rem;
   border: solid 1px transparent;
   color: white;
   outline: 0.2rem solid #a1afcd;
   padding: 1rem 1rem 1rem 4rem;
   resize: none;
   text-decoration: none;
}


.Search input[type=search]:invalid {
  box-shadow: none;
}


.Search input[type=search]:focus {
  outline: 0.2rem solid #057DCD;
}


.Search input[type=search]::placeholder {
  color: #a1afcd;
}


.Search ::-moz-selection,
.Search ::selection {
  background: #666666;
  color: #eeeeee;
}